// Modals

// Padding applied to the modal body
$modal-inner-padding: 1.75rem !default;

// Margin between elements in footer, must be lower than or equal to 2 * $modal-inner-padding
$modal-footer-margin-between: 0.5rem !default;

$modal-dialog-margin: 0.5rem !default;
$modal-dialog-margin-y-sm-up: 1.75rem !default;

$modal-content-color: null !default;
$modal-content-bg: c-base-color(light, 1) !default;
$modal-content-border-color: rgba(c-base-color(dark, 1), 0.2) !default;
$modal-content-border-width: 0 !default;
// $modal-content-border-radius: $border-radius !default;
// $modal-content-inner-border-radius: $border-radius !default;

$modal-content-box-shadow: 0 0.25rem 0.5rem rgba(c-base-color(dark, 1), 0.05) !default;
$modal-content-box-shadow-xs: 0 0.25rem 0.5rem rgba(c-base-color(dark, 1), 0.1) !default;
$modal-content-box-shadow-sm-up: 0 0.5rem 1rem rgba(c-base-color(dark, 1), 0.1) !default;

$zindex-modal: 1050 !default;
$modal-backdrop-bg: c-base-color(dark, 1) !default;
$modal-backdrop-opacity: 0.2 !default;
// $modal-header-border-color: $border-color !default;
// $modal-footer-border-color: $border-color !default;
$modal-header-border-width: 1px !default;
$modal-footer-border-width: 1px !default;
$modal-header-padding-y: 1.5rem !default;
$modal-header-padding-x: 1.75rem !default;
$modal-header-padding: $modal-header-padding-y $modal-header-padding-x !default; // Keep this for backwards compatibility

$modal-xl: 1140px !default;
$modal-lg: 800px !default;
$modal-md: 500px !default;
$modal-sm: 300px !default;

// Modals
// Padding applied to the modal body
// $modal-inner-padding: 1rem !default;
// $modal-dialog-margin: 0.5rem !default;
// $modal-dialog-margin-y-sm-up: 1.75rem !default;
// $modal-title-color: c-base-color(dark, 1) !default; // Custom variable
// $modal-title-font-weight: 500 !default; // Custom variable
// $modal-title-font-size: 1.3rem !default; // Custom variable
// $modal-title-small-color: $text-muted !default; // Custom variable
// $modal-title-small-font-weight: 400 !default; // Custom variable
// $modal-title-small-font-size: 0.9rem !default; // Custom variable
// $modal-title-close-font-size: 1rem !default; // Custom variable
// $modal-title-close-color: $text-muted !default; // Custom variable
// $modal-title-close-hover-color: $primary !default; // Custom variable

$modal-content-color: null !default;
$modal-content-bg: c-base-color(light, 1) !default;
$modal-content-border-color: rgba(c-base-color(dark, 1), 0.2) !default;
// $modal-content-border-radius: $border-radius-lg !default;
$modal-content-box-shadow-xs: 0 0.25rem 0.5rem rgba(c-base-color(dark, 1), 0.5) !default;
$modal-content-box-shadow-sm-up: 0 0.5rem 1rem rgba(c-base-color(dark, 1), 0.5) !default;

$modal-backdrop-bg: c-base-color(dark, 1) !default;
$modal-backdrop-opacity: 0.5 !default;
// $modal-header-border-color: $border-color !default;
// $modal-footer-border-color: $modal-header-border-color !default;

$modal-xl: 1140px !default;
$modal-lg: 800px !default;
$modal-md: 500px !default;
$modal-sm: 300px !default;