// Table
$table-bg: transparent !default;
$table-accent-bg: c-base-colors(grey, 2) !default;
$table-hover-bg: c-base-colors(grey, 1) !default;
$table-active-bg: $table-hover-bg !default;

// $table-border-color: $gray-200 !default;
// $table-head-bg: $gray-100 !default;
// $table-head-color: $dark-75 !default;
$table-head-font-size: 1rem !default; // Custom variable
$table-head-font-weight: 600 !default; // Custom variable

$table-dark-color: c-base-color(light, 1) !default;
$table-dark-bg: c-base-color(dark, 1) !default;
$table-dark-accent-bg: rgba(c-base-color(light, 1), 0.05) !default;
// $table-dark-hover-color: $table-dark-color !default;
$table-dark-hover-bg: rgba(c-base-color(light, 1), 0.075) !default;
// $table-dark-border-color: lighten($table-dark-bg, 7.5%) !default;

// $table-head-bg: $gray-100 !default; // Custom variable
$table-compact-head-font-size: 0.9rem !default; // Custom variable
// $table-compact-head-color: $text-muted !default; // Custom variable
$table-compact-head-text-transform: uppercase !default; // Custom variable
$table-compact-head-font-weight: 600 !default; // Custom variable
$table-compact-head-font-weight: 600 !default; // Custom variable
$table-compact-head-letter-spacing: 0.1rem !default; // Custom variable