.layout-aboutus--right {

    // Introduction
    >img {
        width: 100%;
    }

    .content {
        margin-top: 24px;
        font-size: $caption-font-size-md;
        line-height: $line-height-base;
    }

    .list-stores {
        margin-top: 40px;
        text-align: center;

        .list-title {
            font-weight: $roboto-bold;
            font-size: $section-title-font-size-sm;
            line-height: $line-height-xl;
            color: c-base-color(dark, 1);
        }

        .list-items {
            margin-top: 1rem;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            >div {
                &:nth-child(n + 5) {
                    margin-top: 24px;
                }
            }

            .ccs-item-store {
                width: 23.5%;
                max-width: 232px;
                background: c-base-color(light, 1);
                border-radius: 5px;
                padding-bottom: $padding-15;
                box-shadow: $c-common-shadow;
                -moz-box-shadow: $c-common-shadow;
                -webkit-box-shadow: $c-common-shadow;

                .ccs-item-store--img {
                    display: block;
                    width: unset;
                    background: unset;
                    border-radius: 0;
                    border: none;
                    height: unset;
                    padding: 0;

                    >img {
                        width: 100%;
                        max-width: 232px;
                        max-height: 224px;
                        min-height: 224px;
                        height: unset;
                        border-radius: 5px 5px 0px 0px;
                        border: none;
                        object-fit: cover;
                    }
                }

                &--text {
                    >span {
                        &:nth-child(1) {
                            text-transform: none;
                            font-size: $caption-font-size-lg;
                            line-height: $line-height-lg;
                        }

                        &:nth-last-child(1) {
                            font-size: $caption-font-size-md;
                            line-height: $line-height-base;
                        }
                    }
                }
            }
        }
    }

    // Showroom
    .list-stores-frame {
        display: flex;
        justify-content: space-between;

        &--left {
            width: 68%;
            background: c-base-color(light, 1);

            a {
                display: block;
                height: 100%;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        &--right {
            width: 32%;
            max-width: 316px;

            // Custom scrollbar
            ::-webkit-scrollbar {
                width: 6px;
            }

            ::-webkit-scrollbar-track {
                background: #ffffff;
                border-radius: 6px;
            }

            ::-webkit-scrollbar-thumb {
                border-radius: 6px;
                background: #d4d4d4;
            }

            ::-webkit-scrollbar-thumb:hover {
                background: #d4d4d4;
            }

            .stores-collection {
                max-height: 608px;
                overflow: hidden;
                overflow-y: auto;

                .item-store {
                    // display: grid;
                    // grid-template: 1fr / repeat(2, 1fr);
                    // grid-template-columns: 40% 60%;
                    // justify-content: flex-start;
                    display: flex;
                    align-items: center;
                    padding: 1rem;
                    border-bottom: 1px solid c-base-color(grey, 2);
                    background: c-base-color(light, 1);

                    &--logo {
                        padding: 7px;
                        background: #f3f3f3;
                        border-radius: 50%;
                        border: 1px solid #000000;
                        height: 100%;
                        flex: 0 0 75px;
                        max-width: 75px;
                        height: 75px;

                        >img {
                            width: 100%;
                            height: 100%;
                            border-radius: 50%;
                            object-fit: cover;
                            display: block;
                            margin: auto;
                            box-sizing: border-box;
                            border: 1px solid c-base-color(dark, 1);
                        }
                    }

                    &--text {
                        margin-top: 0;
                        padding-left: $padding-16;
                        display: flex;
                        flex-direction: column;

                        .title {
                            font-weight: $roboto-bold;
                            font-size: $caption-font-size-md;
                            line-height: $line-height-base;
                            color: c-base-color(blue, 1);
                        }

                        >span {
                            font-size: $caption-font-size-sm;
                            line-height: $line-height-sm;

                            &:nth-last-child(1) {
                                margin-top: 8px;
                            }

                            &:nth-last-child(2) {
                                margin-top: 13px;
                                font-weight: normal;
                            }
                        }
                    }
                }
            }
        }
    }

    // Vip member
    .vip-member-content {
        margin-top: 24px;
        font-size: $caption-font-size-md;
        line-height: $line-height-xl;
        color: c-base-color(dark, 1);
        display: flex;
        flex-direction: column;

        >b {
            font-size: $caption-font-size-lg;
            font-weight: $roboto-bold;
        }

        >span {
            &:nth-child(1) {
                font-weight: $roboto-bold;
            }

            &:nth-last-child(1) {
                margin-top: 5px;
            }
        }
    }

    // Rank member
    .rank-member-container {
        >img {
            margin-top: 24px;
            width: 100%;
            max-height: 360px;
            // border: 1px solid #707070;
            object-fit: none;
            border-radius: 5px;
        }

        .rank-member-top {
            width: 100%;
            display: flex;
            justify-content: space-between;

            .rank-member--policy {
                width: 30%;
                display: flex;
                padding: $padding-9;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                background: c-base-color(light, 1);
                box-shadow: $c-common-shadow;
                -moz-box-shadow: $c-common-shadow;
                -webkit-box-shadow: $c-common-shadow;
                border-radius: 5px;
                font-size: $caption-font-size-md;
                line-height: $line-height-base;

                >b {
                    margin-top: 10px;
                    text-align: center;
                    font-weight: $roboto-bold;
                    color: c-base-color(dark, 1);
                }

                >span {
                    margin-top: 5px;
                    width: 70%;
                    color: c-base-color(dark, 1);
                    text-align: center;
                }
            }
        }

        .rank-member-bottom {
            margin-top: 24px;

            .rank-member-benefits {
                width: 100%;
                font-size: $caption-font-size-md;
                line-height: $line-height-base;

                >thead {
                    >tr {
                        >th {
                            padding: $padding-11 0;

                            &:nth-child(1) {
                                text-align: left;
                                padding-left: $padding-16;
                            }
                        }
                    }
                }

                >tbody {
                    >tr {
                        border-bottom: 1px solid c-base-color(grey, 2);

                        >td {
                            padding: $padding-11 0;

                            &:nth-child(1) {
                                text-align: left;
                                padding-left: $padding-16;
                            }

                            &:nth-child(n + 2) {
                                width: 15%;
                            }
                        }
                    }
                }
            }
        }
    }

    // Guide order, guide fast order & guide payment
    .guide-container {
        >img {
            width: 100%;
            border-radius: 5px;
        }

        .guide-content {
            margin-top: 24px;
            font-size: $caption-font-size-md;
            line-height: $line-height-base;

            .content-title {
                margin-top: 1rem;
                font-size: $caption-font-size-lg;
                font-weight: $roboto-bold;
                padding-bottom: 3px;
            }

            .item-text {
                margin-top: 24px;
            }

            .table-grid {
                margin-top: 1rem;
                display: table;
                width: 75%;
                border-collapse: collapse;

                .table-row {
                    display: grid;
                    grid-template: 1fr / repeat(2, 1fr);
                    text-align: center;
                }

                .table-cell,
                .table-head {
                    display: table-cell;
                    padding: 0.5rem;
                    border: 1px solid #707070;
                }

                .table-head {
                    font-weight: bold;
                }
            }
        }
    }

    // Trade coin
    .trade-coin-content {
        margin-top: 24px;
        display: flex;
        flex-direction: column;

        >span {
            margin-top: 3px;
            font-size: $caption-font-size-md;
            line-height: $line-height-base;
            color: c-base-color(dark, 1);
        }
    }
}